coverage
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
node_modules
npm-debug.log
mochahelper.js
.idea/
.settings/
dist
.tmp
.sass-cache
bower_components
options.mine.js
db/
data/
